
<section *ngIf="step==1" class="search-form">
  <div fxLayout class="search-booking" fxLayoutGap="50px" fxLayoutAlign="start center">
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="25px">
        <md-radio-group class="round-trip-group" [(ngModel)]="searchData.roundTrip">
          <md-radio-button class="round-trip-radio" [value]="true">Khứ hồi</md-radio-button>
          <md-radio-button class="round-trip-radio" [value]="false">Một chiều</md-radio-button>
        </md-radio-group>
      </div>
      
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div style="position: relative">
          <div class="mat-input-container">
            <div class="mat-input-wrapper">
              <div class="mat-input-table">
                <div class="mat-input-infix">
                  <input class="mat-input-element" placeholder="Nơi đi" id="md-input-noi-di" (focus)="showTakeOffPlace()" [value]="tenDiemDi">
                  <span class="mat-input-placeholder-wrapper">
                    <label class="mat-input-placeholder mat-float" for="md-input-noi-di">Nơi đi</label>
                  </span>
                </div>
                <div class="mat-input-suffix">
                  <md-icon (click)="showTakeOffPlace()">flight_takeoff</md-icon>
                </div>
              </div>
              <div class="mat-input-underline"></div>
              <div class="mat-input-subscript-wrapper"></div>
            </div>
          </div>
          <div [@takeOffPlace]="showTakeOff" class="takeoff">
            <md-card>
              <md-card-content>
                <span style="float:right; cursor: pointer" (click)="showTakeOff='inactive'"><i class="material-icons md-18">close</i></span>
                <div fxLayout="row" fxLayoutGap="50px">
                  <div *ngIf="dsVung1.length">
                    <div class="vung-ctn" *ngFor="let vung of dsVung1">
                      <div class="vung-header">{{vung.RegionName}}</div>
                      <div class="vung-content">
                        <div class="diem-ctn cp" *ngFor="let diem of vung.LocationList" (click)="chonDiemDi(diem)">
                          <span>{{diem.Name}} </span><span>({{diem.Code}})</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="dsVung2.length">
                    <div class="vung-ctn" *ngFor="let vung of dsVung2">
                      <div class="vung-header">{{vung.RegionName}}</div>
                      <div class="vung-content">
                        <div class="diem-ctn cp" *ngFor="let diem of vung.LocationList" (click)="chonDiemDi(diem)">
                          <span>{{diem.Name}} </span><span>({{diem.Code}})</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="dsVung3.length">
                    <div class="vung-ctn" *ngFor="let vung of dsVung3">
                      <div class="vung-header">{{vung.RegionName}}</div>
                      <div class="vung-content">
                        <div class="diem-ctn cp" *ngFor="let diem of vung.LocationList" (click)="chonDiemDi(diem)">
                          <span>{{diem.Name}} </span> <span>({{diem.Code}})</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-card-content>
              <md-card-actions>
                <span fxFlex></span>
                <button md-icon-button (click)="showTakeOff='inactive'"><md-icon>close</md-icon></button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div style="position: relative">
          <div class="mat-input-container">
            <div class="mat-input-wrapper">
              <div class="mat-input-table">
                <div class="mat-input-infix">
                  <input class="mat-input-element" placeholder="Nơi đến" id="md-input-noi-den" 
                    (focus)="showLandPlace()" [value]="tenDiemDen">
                  <span class="mat-input-placeholder-wrapper">
                    <label class="mat-input-placeholder mat-float" for="md-input-noi-den">Nơi đến</label>
                  </span>
                </div>
                <div class="mat-input-suffix">
                  <md-icon (click)="showLandPlace()">flight_land</md-icon>
                </div>
              </div>
              <div class="mat-input-underline"></div>
              <div class="mat-input-subscript-wrapper"></div>
            </div>
          </div>
          <div [@landPlace]="showLand" class="takeoff">
            <md-card>
              <md-card-content>
                <span style="float:right; cursor: pointer" (click)="showLand='inactive'"><i class="material-icons md-18">close</i></span>
                <div fxLayout="row" fxLayoutGap="50px">
                  <div *ngIf="dsVungDest1.length">
                    <div class="vung-ctn" *ngFor="let vung of dsVungDest1">
                      <div class="vung-header">{{vung.RegionName}}</div>
                      <div class="vung-content">
                        <div class="diem-ctn cp" *ngFor="let diem of vung.LocationList" (click)="chonDiemDen(diem)">
                          <span>{{diem.Name}} </span><span>({{diem.Code}})</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="dsVungDest2.length">
                    <div class="vung-ctn" *ngFor="let vung of dsVungDest2">
                      <div class="vung-header">{{vung.RegionName}}</div>
                      <div class="vung-content">
                        <div class="diem-ctn cp" *ngFor="let diem of vung.LocationList" (click)="chonDiemDen(diem)">
                          <span>{{diem.Name}} </span><span>({{diem.Code}})</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="dsVungDest3.length">
                    <div class="vung-ctn" *ngFor="let vung of dsVungDest3">
                      <div class="vung-header">{{vung.RegionName}}</div>
                      <div class="vung-content">
                        <div class="diem-ctn cp" *ngFor="let diem of vung.LocationList" (click)="chonDiemDen(diem)">
                          <span>{{diem.Name}} </span> <span>({{diem.Code}})</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </md-card-content>
              <md-card-actions>
                <span fxFlex></span>
                <button md-icon-button (click)="showLand='inactive'"><md-icon>close</md-icon></button>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div style="width:115px">
          <md-input-container>
            <input mdInput [mdDatepicker]="mdDatePickerNgayDi" placeholder="Ngày đi" [(ngModel)]="ngayDi" [min]="currentDate">
            <button mdSuffix [mdDatepickerToggle]="mdDatePickerNgayDi"></button>
          </md-input-container>
          <md-datepicker #mdDatePickerNgayDi (selectedChanged)="chonNgayDi()"></md-datepicker>
        </div>
        <div *ngIf="searchData.roundTrip" style="width:115px">
          <md-input-container>
            <input mdInput [mdDatepicker]="mdDatePickerNgayVe" placeholder="Ngày về" [(ngModel)]="ngayVe" [min]="ngayDi">
            <button mdSuffix [mdDatepickerToggle]="mdDatePickerNgayVe"></button>
          </md-input-container>
          <md-datepicker #mdDatePickerNgayVe></md-datepicker>
        </div>
        <div fxLayout fxLayoutGap="10px" class="custtype">
          <md-input-container>
            <input mdInput type="number" [(ngModel)]="searchData.adult" placeholder="Người lớn(>=12 tuổi)">
          </md-input-container>
          <md-input-container>
            <input mdInput type="number" [(ngModel)]="searchData.child" placeholder="Trẻ em(2-11 tuổi)">
          </md-input-container>
          <md-input-container>
            <input mdInput type="number" [(ngModel)]="searchData.infant" placeholder="Em bé(< 2 tuổi)">
          </md-input-container>
        </div>
      </div>
    </div>
    <div fxFlexLayoutAlign="stretch">
      <button fxFlexLayoutAlign="stretch" md-raised-button color="accent" (click)="timChuyenBay()"><md-icon>search</md-icon> <span>Tìm kiếm</span></button>
    </div>
  </div>
</section>
<section class="booking-step">
  <md-card>
    <md-card-content>
      <div fxLayout fxLayoutAlign="space-between center">
        <div [class.active]="step==1" fxLayout fxLayoutAlign="start center" fxLayoutGap="30px">
          <i class="material-icons md-36">search</i>
          <span>1. Tìm chuyến bay</span>
        </div>
        <div [class.active]="step==2" fxLayout fxLayoutAlign="start center" fxLayoutGap="30px">
          <i class="material-icons md-36">people</i>
          <span>2. Thông tin khách hàng</span>
        </div>
        <div [class.active]="step==3" fxLayout fxLayoutAlign="start center" fxLayoutGap="30px">
          <i class="material-icons md-36">payment</i>
          <span>3. Thanh toán</span>
        </div>
        <div [class.active]="step==4" fxLayout fxLayoutAlign="start center" fxLayoutGap="30px">
          <i class="material-icons md-36">check</i>
          <span>4. Đặt vé thành công</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
</section>
<div *ngIf="step==1" fxLayout fxLayoutGap="20px">
  <div fxFlex>
    <section class="booking-result">
      <div style="position: absolute; z-index: 1200; left: 50%" fxLayout fxLayoutAlign="center" *ngIf="searching">
        <md-spinner></md-spinner>
      </div>
      <md-card>
        <md-card-title>Chiều đi</md-card-title>
        <md-card-content>
          <div fxLayout="row" fxLayoutAlign="start baseline">
            <span class="label-inline">Sắp xếp theo: </span>
            <md-radio-group class="round-trip-group" [(ngModel)]="orderType" (change)="orderSearchResult()">
              <md-radio-button class="round-trip-radio" [value]="1">Giá thấp nhất</md-radio-button>
              <md-radio-button class="round-trip-radio" [value]="2">Cất cánh sớm nhất</md-radio-button>
              <md-radio-button class="round-trip-radio" [value]="3">Hạ cánh sớm nhất</md-radio-button>
            </md-radio-group>
            <span class="label-inline">Xem theo giá</span>
            <md-radio-group class="round-trip-group" [(ngModel)]="priceType">
              <md-radio-button class="round-trip-radio" [value]="1">Chưa thuế phí</md-radio-button>
              <md-radio-button class="round-trip-radio" [value]="2">Có thuế phí</md-radio-button>
            </md-radio-group>
          </div>
          <div class="searchresults">
            <table class="searchresults-tbl">
              <thead>
                <tr>
                  <th>Hãng</th>
                  <th>Chuyến bay</th>
                  <th>Số chặng dừng</th>
                  <th>Khởi hành</th>
                  <th>Đến</th>
                  <th>Giá vé</th>
                  <th>Chi tiết</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of searchResultFilter">
                  <td><img class="airline" src="/assets/images/{{item.Airline}}.jpg"></td>
                  <td>
                    <strong>{{item.FlightNo}}</strong>
                  </td>
                  <td>{{item.StopNo}}</td>
                  <td>
                    <strong>{{item.DepartureTime | evtimeonly }}</strong>
                    <span>({{diemDi.Code}})</span>
                  </td>
                  <td>
                    <strong>{{item.ArrivalTime | evtimeonly }}</strong>
                    <span>({{diemDen.Code}})</span>
                  </td>
                  <td>
                    <md-radio-button name="chieuDi" (change)="chonChieuDi(item)"></md-radio-button>
                    <strong class="price" *ngIf="priceType==1">{{item.TicketFare | number}}</strong>
                    <strong class="price" *ngIf="priceType==2">{{item.TicketPrice | number}}</strong>
                  </td>
                  <td>
                    <a class="cp" (click)="xemChiTietVe(item)">Xem chi tiết [+]</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-card-content>
      </md-card>
    </section>
    <section *ngIf="searchData.roundTrip" class="booking-result">
      <md-card>
        <md-card-title>Chiều về</md-card-title>
        <md-card-content>
          <div fxLayout="row" fxLayoutAlign="start baseline">
            <span class="label-inline">Sắp xếp theo: </span>
            <md-radio-group class="round-trip-group" [(ngModel)]="orderTypeReturn" (change)="orderSearchResultReturn()">
              <md-radio-button class="round-trip-radio" [value]="1">Giá thấp nhất</md-radio-button>
              <md-radio-button class="round-trip-radio" [value]="2">Cất cánh sớm nhất</md-radio-button>
              <md-radio-button class="round-trip-radio" [value]="3">Hạ cánh sớm nhất</md-radio-button>
            </md-radio-group>
            <span class="label-inline">Xem theo giá</span>
            <md-radio-group class="round-trip-group" [(ngModel)]="priceTypeReturn">
              <md-radio-button class="round-trip-radio" [value]="1">Chưa thuế phí</md-radio-button>
              <md-radio-button class="round-trip-radio" [value]="2">Có thuế phí</md-radio-button>
            </md-radio-group>
          </div>
          <div fxLayout fxLayoutAlign="center" *ngIf="searchingReturn">
            <md-spinner></md-spinner>
          </div>
          <div class="searchresults">
            <table class="searchresults-tbl">
              <thead>
                <tr>
                  <th>Hãng</th>
                  <th>Chuyến bay</th>
                  <th>Số chặng dừng</th>
                  <th>Khởi hành</th>
                  <th>Đến</th>
                  <th>Giá vé</th>
                  <th>Chi tiết</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of searchResultReturnFilter">
                  <td><img class="airline" src="/assets/images/{{item.Airline}}.jpg"></td>
                  <td>
                    <strong>{{item.FlightNo}}</strong>
                  </td>
                  <td>{{item.StopNo}}</td>
                  <td>
                    <strong>{{item.DepartureTime | evtimeonly }}</strong>
                    <span>({{diemDen.Code}})</span>
                  </td>
                  <td>
                    <strong>{{item.ArrivalTime | evtimeonly }}</strong>
                    <span>({{diemDi.Code}})</span>
                  </td>
                  <td>
                    <md-radio-button name="chieuVe" (change)="chonChieuVe(item)"></md-radio-button>
                    <strong class="price" *ngIf="priceTypeReturn==1">{{item.TicketFare | number}}</strong>
                    <strong class="price" *ngIf="priceTypeReturn==2">{{item.TicketPrice | number}}</strong>
                  </td>
                  <td>
                    <a class="cp" (click)="xemChiTietVe(item)">Xem chi tiết [+]</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-card-content>
      </md-card>
    </section>
  </div>
  <div fxFlex="30">
    <section style="margin-top:10px !important">
      <md-card>
        <md-card-subtitle>Bộ lọc</md-card-subtitle>
        <md-card-content>
          <div *ngFor="let item of AirlineList">
            <md-checkbox [(ngModel)]="item.selected" (change)="filterAirline()">{{item.Name}}</md-checkbox>
          </div>
        </md-card-content>
      </md-card>
      <md-card style="margin-top:10px">
        <md-card-subtitle>Chuyến bay được chọn</md-card-subtitle>
        <md-card-content>
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxFlex>
              <div>Chiều đi</div>
              <div fxLayout fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="chieuDi.Airline">
                <div fxFlex><img class="airline" src="assets/images/{{chieuDi.Airline}}.jpg"></div>
                <div fxFlex>{{chieuDi.DepartureTime | evtimeonly}} - {{chieuDi.ArrivalTime | evtimeonly}}</div>
                <div fxFlex>{{chieuDi.TicketPrice | number}}</div>
              </div>
            </div>
            <div fxFlex *ngIf="searchData.roundTrip">
              <div>Chiều về</div>
              <div fxLayout fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="chieuVe.Airline">
                <div fxFlex><img class="airline" src="assets/images/{{chieuVe.Airline}}.jpg"></div>
                <div fxFlex>{{chieuVe.DepartureTime | evtimeonly}} - {{chieuVe.ArrivalTime | evtimeonly}}</div>
                <div fxFlex>{{chieuVe.TicketPrice | number}}</div>
              </div>
            </div>
            <div fxFlex fxLayout class="tong_khu_hoi">
              <div fxFlex class="text">Tổng</div>
              <div fxFlex class="price">{{ TongKhuHoi | number }}</div>
            </div>
            <div fxFlex>
              <div fxLayout="column">
                <button color="accent" md-raised-button (click)="tieptuc()"><md-icon>forward</md-icon> Tiếp tục</button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </section>
  </div>
</div>
<div *ngIf="step >= 2" style="margin-top:10px">
  <div fxLayout fxLayoutGap="20px">
    <div *ngIf="step==2" fxFlex>
      <md-card>
        <md-card-title>1. THÔNG TIN HÀNH KHÁCH</md-card-title>
        <md-card-content>
          <div class="customer-item" *ngFor="let item of flightDataChoosen.Adult; let i=index">
            <div class="customer-type">Hành khách {{i + 1}} (Người lớn)</div>
            <div fxLayout fxLayoutGap="20px" fxLayoutAlign="baseline">
              <md-input-container fxFlex>
                <input mdInput placeholder="Họ và tên" [(ngModel)]="item.FullName">
              </md-input-container>
              <md-select fxFlex="100px" [(ngModel)]="item.Title" placeholder="Bí danh">
                <md-option value="Ông">Ông</md-option>
                <md-option value="Bà">Bà</md-option>
              </md-select>
              <md-select fxFlex [(ngModel)]="item.Baggage" placeholder="Hành lý">
                <md-option [value]="0">Không thêm hành lý</md-option>
                <md-option *ngFor="let l of luggagePriceList" [value]="l.Weight">{{l.Name}}</md-option>
              </md-select>
              <md-select fxFlex *ngIf="searchData.roundTrip" [(ngModel)]="item.ReturnBaggage" placeholder="Hành lý chiều về">
                <md-option [value]="0">Không thêm hành lý</md-option>
                <md-option *ngFor="let l of returnLuggagePriceList" [value]="l.Weight">{{l.Name}}</md-option>
              </md-select>
            </div>
          </div>
          <div class="customer-item" *ngIf="flightDataChoosen.Child.length">
            <div *ngFor="let item of flightDataChoosen.Child; let i=index">
              <div>Hành khách {{flightDataChoosen.Adult.length + i + 1}} (Trẻ em)</div>
              <div fxLayout fxLayoutGap="20px" fxLayoutAlign="baseline">
                <md-input-container fxFlex>
                  <input mdInput placeholder="Họ và tên" [(ngModel)]="item.FullName">
                </md-input-container>
                <md-select fxFlex="100px" [(ngModel)]="item.Title" placeholder="Bí danh">
                  <md-option value="Em trai">Em trai</md-option>
                  <md-option value="Em gái">Em gái</md-option>
                </md-select>
                <md-select fxFlex [(ngModel)]="item.Baggage" placeholder="Hành lý">
                  <md-option [value]="0">Không thêm hành lý</md-option>
                  <md-option *ngFor="let l of luggagePriceList" [value]="l.Weight">{{l.Name}}</md-option>
                </md-select>
                <md-select fxFlex *ngIf="searchData.roundTrip" [(ngModel)]="item.ReturnBaggage" placeholder="Hành lý chiều về">
                  <md-option [value]="0">Không thêm hành lý</md-option>
                  <md-option *ngFor="let l of returnLuggagePriceList" [value]="l.Weight">{{l.Name}}</md-option>
                </md-select>
              </div>
            </div>
          </div>
          <div class="customer-item" *ngIf="flightDataChoosen.Infant.length">
            <div *ngFor="let item of flightDataChoosen.Infant; let i=index">
              <div>Hành khách {{flightDataChoosen.Adult.length + flightDataChoosen.Child.length + i + 1}} (Em bé)</div>
              <div fxLayout fxLayoutGap="20px" fxLayoutAlign="baseline">
                <md-input-container fxFlex>
                  <input mdInput placeholder="Họ và tên" [(ngModel)]="item.FullName">
                </md-input-container>
                <md-select fxFlex="100px" [(ngModel)]="item.Title" placeholder="Bí danh">
                  <md-option value="Bé trai">Bé trai</md-option>
                  <md-option value="Bé gái">Bé gái</md-option>
                </md-select>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>2. THÔNG TIN NGƯỜI ĐẶT VÉ</md-card-title>
        <md-card-content>
          Én Vàng sẽ dùng thông tin này để liên hệ giao vé
          <div fxLayout="column">
            <md-input-container>
              <input mdInput placeholder="Họ tên" [(ngModel)]="contact.HoTen">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Điện thoại" [(ngModel)]="contact.DienThoai">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Email" [(ngModel)]="contact.Email">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Địa chỉ" [(ngModel)]="contact.DiaChi">
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div fxFlex *ngIf="step==3">
      <md-card>
        <md-card-title>HÌNH THỨC THANH TOÁN</md-card-title>
        <md-card-content>
          <div class="payment-method" *ngFor="let pm of paymentMethodList">
            <div class="cp pm-header" [class.pm-active]="paymentMethodChon==pm" (click)="paymentMethodChon=pm">{{pm.Name}}</div>
            <div *ngIf="paymentMethodChon==pm">
              <div [innerHTML]="pm.Description"></div>
              <div *ngIf="pm.AllowResponseFromCustomer">
                <textarea style="width:100%" [(ngModel)]="pm.CustomerResponse"></textarea>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div fxFlex *ngIf="step==4">
      <md-card>
        <md-card-title>KẾT QUẢ ĐẶT VÉ</md-card-title>
        <md-card-content>
              <div>Đơn hàng của bạn đã thực hiện thành công, mã số đơn hàng là: <span style="font-weight:bold;color:chocolate;font-size:15px">{{orderResult.data}}</span></div>
              <div style="margin: 10px 0 10px 0">
                {{auth.KetQuaDatVe}}
              </div>
              <div *ngIf="!orderResult.sendEmailStatus">
                Lưu ý: Thông tin đơn hàng không thể gửi tới địa chỉ email của bạn: {{contact.Email}}.
              </div>
        </md-card-content>
      </md-card>
    </div>
    <div fxFlex="30">
      <md-card>
        <md-card-title>Thông tin đặt vé</md-card-title>
        <md-card-content>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxFlex>
              <div *ngIf="searchData.adult" fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Người lớn</div>
                <div fxFlex>
                  <div *ngFor="let item of flightDataChoosen.Adult">
                    {{item.FullName}}
                  </div>
                </div>
              </div>
              <div *ngIf="searchData.child" fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Trẻ em</div>
                <div fxFlex>{{searchData.child}}
                  <div *ngFor="let item of flightDataChoosen.Child">
                    {{item.FullName}}
                  </div>
                </div>
              </div>
              <div *ngIf="searchData.infant" fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Em bé</div>
                <div fxFlex>
                  <div *ngFor="let item of flightDataChoosen.Infant">
                    {{item.FullName}}
                  </div>
                </div>
              </div>
            </div>
            <div class="info-legend">Chiều đi</div>
            <div fxFlex>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Từ</div>
                <div fxFlex>{{diemDi.Name}}</div>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Thời gian</div>
                <div fxFlex>{{chieuDi.DepartureDate}} {{chieuDi.DepartureTime | evtimeonly}}</div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Đến</div>
                <div fxFlex>{{diemDen.Name}}</div>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Thời gian</div>
                <div fxFlex>{{chieuDi.ArrivalDate}} {{chieuDi.ArrivalTime | evtimeonly}}</div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Hãng</div>
                <div fxFlex><img class="airline" src="assets/images/{{chieuDi.Airline}}.jpg"></div>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Chuyến bay</div>
                <div fxFlex>{{chieuDi.FlightNo}}</div>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Loại vé</div>
                <div fxFlex>{{chieuDi.SeatClass}}</div>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Giá</div>
                <div class="price" fxFlex>{{chieuDi.TicketPrice | number}}</div>
              </div>
            </div>
            <div fxLayout="column" *ngIf="searchData.roundTrip">
              <div class="info-legend">Chiều về</div>
              <div fxFlex>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Từ</div>
                  <div fxFlex>{{diemDen.Name}}</div>
                </div>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Thời gian</div>
                  <div fxFlex>{{chieuVe.DepartureDate }} {{chieuVe.DepartureTime | evtimeonly}}</div>
                </div>
              </div>
              <div fxFlex>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Đến</div>
                  <div fxFlex>{{diemDi.Name}}</div>
                </div>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Thời gian</div>
                  <div fxFlex>{{chieuVe.ArrivalDate}} {{chieuVe.ArrivalTime | evtimeonly}}</div>
                </div>
              </div>
              <div fxFlex>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Hãng</div>
                  <div fxFlex><img class="airline" src="assets/images/{{chieuVe.Airline}}.jpg"></div>
                </div>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Chuyến bay</div>
                  <div fxFlex>{{chieuVe.FlightNo}}</div>
                </div>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Loại vé</div>
                  <div fxFlex>{{chieuVe.SeatClass}}</div>
                </div>
                <div fxLayout fxLayoutGap="20px">
                  <div fxFlex="100px">Giá</div>
                  <div class="price" fxFlex>{{chieuVe.TicketPrice | number}}</div>
                </div>
              </div>
            </div>
            <div class="info-legend">Tổng</div>
            <div fxFlex>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Hành lý</div>
                <div class="price" fxFlex>{{ ChiPhiHanhLy | number}}</div>
              </div>
              <div fxLayout fxLayoutGap="20px">
                <div fxFlex="100px">Tổng chi phí</div>
                <div class="price" fxFlex>{{ ChiPhiHanhLy + TongKhuHoi | number}}</div>
              </div>
            </div>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button (click)="step = step - 1"><md-icon>redo</md-icon> Quay lại</button>
          <button *ngIf="step==2" fxFlex md-raised-button color="accent" (click)="choosePaymentMethod()"><md-icon>payment</md-icon> Chọn hình thức thanh toán</button>
          <button *ngIf="step==3" fxFlex md-raised-button color="accent" (click)="bookTicket()"><md-icon>checked</md-icon> Đặt vé</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

<template #detailTemplate>
  <div style="width:500px">
    <div class="chitietve_title">Chi tiết vé</div>
    <table style="width:100%" class="chitietve">
      <tr>
        <td>
          <div>Từ:{{veChon.FromCity}}</div>
          <div>{{veChon.DepartureTime | evtimeonly}}, {{veChon.DepartureDate}}</div>
        </td>
        <td>
          <div>đến:{{veChon.ToCity}}</div>
          <div>{{veChon.ArrivalTime | evtimeonly}}, {{veChon.ArrivalDate}}</div>
        </td>
        <td>
          <div>Hãng:{{veChon.AirlineName}}</div>
          <div>Hạng vé: {{veChon.TicketType}}</div>
        </td>
      </tr>
    </table>
    <div class="chitietve_title"></div>
    <table style="width:100%" class="chitietve">
      <thead>
        <tr>
          <th style="text-align:left">Loại khách hàng</th>
          <th class="ca">Số lượng</th>
          <th class="ra">Giá vé</th>
          <th class="ra">Thuế phí</th>
          <th class="ra">Tổng cộng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="searchData.adult">
          <td>Người lớn</td>
          <td class="ca">{{searchData.adult}}</td>
          <td class="ra bold">{{veChon.AdultFare | number}}</td>
          <td class="ra bold">{{veChon.AdultCharge | number}}</td>
          <td class="ra bold">{{veChon.AdultPrice | number}}</td>
        </tr>
        <tr *ngIf="searchData.child">
          <td>Trẻ em</td>
          <td class="ca">{{searchData.child}}</td>
          <td class="ra bold">{{veChon.ChildFare | number}}</td>
          <td class="ra bold">{{veChon.ChildCharge | number}}</td>
          <td class="ra bold">{{veChon.ChildPrice | number}}</td>
        </tr>
        <tr *ngIf="searchData.infant">
          <td>Em bé</td>
          <td class="ca">{{searchData.infant}}</td>
          <td class="ra bold">{{veChon.InfantFare | number}}</td>
          <td class="ra bold">{{veChon.InfantCharge | number}}</td>
          <td class="ra bold">{{veChon.InfantPrice | number}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="bold">Tổng</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="ra bold">{{veChon.TicketPrice | number}}</td>
        </tr>
      </tfoot>
    </table>
    <div class="chitietve_title">Điều kiện hành lý</div>
    <div class="chitietve" [innerHTML]="airlineChon.DieuKienHanhLy"></div>
    <div class="chitietve_title">Điều kiện vé</div>
    <div class="chitietve" [innerHTML]="airlineChon.DieuKienVe"></div>
  </div>
</template>