<div class="section">
  <md-toolbar color="primary">
    <span class="admin_header">Quản lý nhóm cấu hình bài viết đặc trưng</span>
    <span fxFlex></span>
    <button md-raised-button color="accent" (click)="showAddNewForm(addEditTemplate)"><md-icon>create</md-icon> Thêm mới</button>
  </md-toolbar>

  <md-card>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="header">
          <th>Tên</th>
          <th>Tên đường dẫn thân thiện</th>
          <th>Thứ tự</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dsItem">
          <td>{{item.Name}}</td>
          <td>{{item.FriendlyName}}</td>
          <td>{{item.Order}}</td>
          <td>
            <button title="Chỉnh sửa" color="accent" md-icon-button style="margin: 0 5px" (click)="showEditForm(addEditTemplate, item)"><md-icon>edit</md-icon></button>
            <button title="Xóa" color="warn" md-icon-button style="margin: 0 5px" (click)="showDeleteForm(confirmTemplate, item)"><md-icon>clear</md-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>

<ng-template #addEditTemplate>
  <section style="width:800px">
  <md-toolbar color="primary">
    <span>Thông tin nhóm cấu hình</span>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <div fxLayout="column" fxLayoutAlign="stretch">
          <md-input-container>
            <input mdInput [(ngModel)]="item.Name" placeholder="Tên nhóm (*)" />
          </md-input-container>
          <md-input-container>
            <input mdInput [(ngModel)]="item.FriendlyName" placeholder="Tên đường dẫn thân thiện (*)" />
          </md-input-container>
          <md-input-container>
            <input type="number" mdInput [(ngModel)]="item.Order" placeholder="Thứ tự hiển thị" />
          </md-input-container>
      </div>
    </md-card-content>
  </md-card>
  <md-toolbar>
    <button md-raised-button color="accent" [disabled]="isSaveInvalid" (click)="save()"><md-icon>save</md-icon> Lưu</button>
    <span fxFlex></span>
    <button md-mini-fab (click)="close()">
      <md-icon>clear</md-icon>
    </button>
  </md-toolbar>
  <md-toolbar *ngIf="saveStatus>=0">
    <div *ngIf="saveStatus==1" class="alert alert-success">{{saveStatusMessage}}</div>
    <div *ngIf="saveStatus==2" class="alert alert-danger">{{saveStatusMessage}}</div>
    <div *ngIf="saveStatus==0" style="position:relative">
      <md-spinner mode="indeterminate"></md-spinner>
    </div>
  </md-toolbar>
  </section>
</ng-template>

<ng-template #confirmTemplate>
  <div style="text-align:center">
    <h4>{{confirmMessage}}</h4>
    <div>
      <button *ngIf="confirmType==1" md-raised-button color="warn" (click)="remove()">Xác nhận</button>
      <button md-button (click)="close()">Đóng</button>
    </div>
  </div>
</ng-template>

<ng-template #loaderTemplate>
  <div style="text-align:center; width:300px">
    <div *ngIf="loaderType == 0">
      <md-spinner mode="indeterminate"></md-spinner>
    </div>
    <h4>{{loaderMessage}}</h4>
  </div>
</ng-template>