
<div *ngIf="!editMode" class="section">
  <md-toolbar color="primary">
    <span class="admin_header">Quản lý hãng</span>
    <span fxFlex></span>
    <button md-raised-button color="accent" (click)="showAddNewForm(addEditTemplate)"><md-icon>create</md-icon> Thêm mới</button>
  </md-toolbar>

  <md-card>
    <table class="table table-hover table-bordered">
      <thead>
        <tr class="header">
          <th>Tên</th>
          <th>Mã</th>
          <th style="width:150px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dsAirline">
          <td>{{item.Name}}</td>
          <td>{{item.Code}}</td>
          <td>
            <span style="cursor: pointer" (click)="showEditForm(item)"><i class="material-icons md-18">edit</i></span>
            <span style="cursor: pointer" (click)="showDeleteForm(confirmTemplate, item)"><i class="material-icons md-18">clear</i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card>
</div>

<div *ngIf="editMode">
  <section>
  <md-toolbar color="primary">
    <span>Thêm/sửa hãng</span>
    <span fxFlex></span>
    <button md-mini-fab (click)="editMode = false">
      <md-icon>clear</md-icon>
    </button>
  </md-toolbar>
  <md-card>
    <md-card-content>
      <div fxLayout="column" fxLayoutAlign="stretch">
          <md-input-container>
            <input mdInput [(ngModel)]="airline.Name" placeholder="Tên hãng (*)" />
          </md-input-container>
          <md-input-container>
            <input mdInput [(ngModel)]="airline.Code" placeholder="Mã hãng (*)" />
          </md-input-container>
          <md-input-container>
            <input type="number" mdInput [(ngModel)]="airline.PhiHang" placeholder="Phí hãng người lớn (*)" />
          </md-input-container>
          <md-input-container>
            <input type="number" mdInput [(ngModel)]="airline.PhiHangTreEm" placeholder="Phí hãng trẻ em (*)" />
          </md-input-container>
          <md-input-container>
            <input type="number" mdInput [(ngModel)]="airline.PhiHangEmBe" placeholder="Phí hãng em bé (*)" />
          </md-input-container>
          <div class="input-group">
            <label>Điều kiện hành lý</label>
            <textarea htmlEditor [(ngModel)]="airline.DieuKienHanhLy" height="100"></textarea>
          </div>
          <div class="input-group">
            <label>Điều kiện vé</label>
            <textarea htmlEditor [(ngModel)]="airline.DieuKienVe" height="100"></textarea>
          </div>
      </div>
    </md-card-content>
  </md-card>
  <md-toolbar>
    <button md-raised-button color="accent" [disabled]="isSaveInvalid" (click)="save()"><md-icon>save</md-icon> Lưu</button>
    
  </md-toolbar>
  </section>
</div>

<template #confirmTemplate>
  <div style="text-align:center">
    <h4>{{confirmMessage}}</h4>
    <div>
      <button *ngIf="confirmType==1" md-raised-button color="warn" (click)="remove()">Xác nhận</button>
      <button md-button (click)="close()">Đóng</button>
    </div>
  </div>
</template>

<template #loaderTemplate>
  <div style="text-align:center; width:300px">
    <div *ngIf="loaderType == 0">
      <md-spinner mode="indeterminate"></md-spinner>
    </div>
    <h4>{{loaderMessage}}</h4>
  </div>
</template>