<div class="section">
  <md-toolbar color="primary">
    <span class="admin_header">Quản lý thông tin chung</span>
    <span fxFlex></span>
    <button md-raised-button color="accent" (click)="save()"><md-icon>save</md-icon> Lưu</button>
  </md-toolbar>
  <md-card>
    <div fxLayout="column">
      <md-input-container>
        <input mdInput [(ngModel)]="item.Slogan" placeholder="Slogan">
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="item.Hotline" placeholder="Đường dây nóng">
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="item.Email" placeholder="Email" type="email">
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="item.Address" placeholder="Địa chỉ">
      </md-input-container>
      <div class="input-group">
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="start start">
            <label>Logo</label>
            <button md-raised-button (click)="openFileManager()" color="accent">Chọn ảnh từ server</button>
            <button md-icon-button (click)="item.Logo=''" color="primary"><md-icon>clear</md-icon></button>
            <div fxFlex></div>
            <div *ngIf="item.Logo && item.Logo.length">
              <img style="width:100%" src="{{apiUrl + '/' + item.Logo}}" />
            </div>
          </div>
      </div>
      <div class="input-group">
          <div fxLayout fxLayoutGap="20px" fxLayoutAlign="start start">
            <label>Ảnh nền</label>
            <button md-raised-button (click)="openFileManager()" color="accent">Chọn ảnh từ server</button>
            <button md-icon-button (click)="item.BackgroundImage=''" color="primary"><md-icon>clear</md-icon></button>
            <div fxFlex></div>
            <div *ngIf="item.BackgroundImage && item.BackgroundImage.length">
              <img style="width:100%" src="{{apiUrl + '/' + item.BackgroundImage}}" />
            </div>
          </div>
      </div>
    </div>
  </md-card>
</div>